<div id="profil">
	<h2>Profil</h2>
	<ul>
		 <% adresses.forEach(elm => {%>
			 <li>Nom : <%= elm.prenom %> <%= elm.nom %></li>
			 <li>Téléphone : <%= elm.telephone %></li>
			 <li>Courriel : <%= elm.courriel %></li>
			 <li>Habite à : <%= elm.ville %></li>
			 <li>Intérêts : <%= elm.interets %></li>
		 <% }) %>
	 </ul>
 </div>