<ul>
 <% adresses.forEach(elm => {%>
 <li><%= elm.nom %></li>
 <li><%= elm.prenom %></li>
 <li><%= elm.telephone %></li>
 <li><%= elm.courriel %></li>
 <li><%= elm.ville %></li>
 <li><%= elm.interets %></li>
 <% }) %>
 </ul>